
.grid{
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: ridge;
}
.square{
    height: 37px;
    width: 37px;
    background-color: rgb(85, 85, 85); 
    border-color: beige;
    border-width: 0.5px;
    border-style: solid;
}

.square:hover{
    background-color: rgb(168, 161, 161);  
}

.all-boards{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.ships-container{
    width: 400px;
    height: 250px;
    margin: 20px;
    background-color: inherit;
}

.ship div{
   width: 40px;
   height: 40px; 
}

.cruiser-container{
    width: 40px; 
    height: 40px;
    background-color: rgb(166, 223, 178);
    display: flex;
    margin:10px;
}

.destroyer-container{
    width: 80px; 
    height: 40px;
    background-color: rgb(166, 223, 178);
    display: flex;
    margin:10px;
}

.submarine-container{
    width: 120px; 
    height: 40px;
    background-color: rgb(166, 223, 178);
    display: flex;
    margin:10px;
}

.battleship-container{
    width: 160px; 
    height: 40px;
    background-color: rgb(166, 223, 178);
    display: flex;
    margin:10px;
}

.carrier-container{
    width: 200px; 
    height: 40px;
    background-color: rgb(166, 223, 178);
    display: flex;
    margin:10px;
}

.cruiser-container:hover,
.destroyer-container:hover,
.submarine-container:hover,
.battleship-container:hover,
.carrier-container:hover{
    background-color: rgb(65, 201, 144);
}

.shipdropedColor{
    background-color: rgb(65, 201, 144);
}

.shipdropedColor:hover{
    background-color: rgb(65, 201, 144);
}

.shipShotColor{
    background-color: red;
}

.shipShotColor:hover{
    background-color: red;
}

.missShot{
    background-color: rgb(177, 177, 177);
}

.missShot:hover{
    background-color: rgb(177, 177, 177);
}



